<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Painel Financeiro{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='/img/favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block style %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}
    <div class="has-background-light">
    {% block content %}{% endblock %}
    </div>
    {% block script %}{% endblock %}
</body>
</html>